<div class="RightPanel" fxLayout="column" fxFlex="300px" fxLayoutAlign="start">
  <div
    *ngIf="selected$ | async; let selected"
    fxLayout="column"
    fxLayoutAlign="start"
  >
    <ng-template [ngIf]="selected.nodeType === 0">
      <h3 fxFlex="row" fxLayoutAlign="center" class="title">Root Node</h3>
      <div
        class="form-container"
        fxLayout="column"
        fxLayoutAlign="start"
        fxLayoutGap="10"
        [formGroup]="form"
      >
        <label for="identifier" class="label">Tree Name</label>
        <input formControlName="displayName" />
      </div>
    </ng-template>
  </div>
</div>
