.right-panel {
  position: relative;
  z-index: 20;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--accent-gb-color);
  box-shadow: 0 0 16px 0 #0b0b0b;
}

.root-container {
  display: flex;
  flex-direction: column;
}

.form-container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin: 10px;
}

.title {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
  background-color: var(--title-bg-color);
}

p {
  background-color: var(--title-bg-color);
}

label {
  color: var(--color-light3);
}
