.RightPanel {
    z-index: 20;
    background-color: var(--accent-gb-color);
    box-shadow: 0 0 16px 0 #0b0b0b; 
}

.form-container {
    margin: 10px;
}

.title {
    margin-top: 10px;
    background-color: var(--title-bg-color)
}

.label {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-light3);
}

input {
    height: 34px;    
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;

    font-size: 14px;
    font-weight: 800;
    line-height: 1.42857143;
    color: #555;
    display: block;
}





p {
    background-color: var(--title-bg-color);
}