
:root{
    --base-bg-color: #171717;
    --accent-gb-color: #2F2F2F;
    --light-bg-color : #999999;

    --node-decorator-fill-color: #A4CCFB;
    --node-condition-fill-color: #cfc511;
    --npde-composite-fill-color: #A4CCFB;
    --node-action-fill-color: #A3C83F;
    
    --node-border-color:#6D6D6D;
    --node_symbol_color: #333333;
}

html, body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
}