<div class="topbar" fxFlex fxLayout="row" fxLayoutAlign="space-between">
  <div class="menubar" fxFlex fxLayout="row" fxLayoutAlign="start">
    <ul fxLayout="row" fxLayoutAlign="start">
      <li fxLayout="row" fxLayoutAlign="center stretch">
        <a
          class="fastlink"
          fxLayout="column"
          fxlLayoutAlign="center center"
          routerLink="/dashboard/projects"
        >
          <i class="fa fa-fw fa-arrow-circle-o-left"></i>
        </a>
      </li>
      <li fxLayout="row" fxLayoutAlign="center stretch">
        <a
          class="fastlink"
          fxLayout="column"
          fxlLayoutAlign="center center"
          routerLink="/dashboard/settings"
        >
          <i class="fa-solid fa-gear"></i>
        </a>
      </li>
    </ul>

    <ul fxLayout="row" fxLayoutAlign="start stretch">
      <li>
        <a fxFill fxLayoutAlign="center center">Tree</a>
        <ul>
          <li>
            <a
              fxFlex
              fxLayoutAlign="space-between center"
              (click)="saveActiveTree()"
              >Save <span class="shortcut">ctrl+s</span></a
            >
          </li>
          <li><a (click)="loadTree()">Reload</a></li>
          <li><a (click)="clearTree()">Clear</a></li>
        </ul>
      </li>
      <li>
        <a fxFill fxLayoutAlign="center center">Node</a>
        <ul>
          <li>
            <a
              fxFlex
              fxLayoutAlign="space-between center"
              (click)="openActionPanel()"
              >Add Action <span class="shortcut">a a</span></a
            >
          </li>
          <li>
            <a
              fxFlex
              fxLayoutAlign="space-between center"
              (click)="openConditionPanel()"
              >Add Condition <span class="shortcut">a c</span></a
            >
          </li>
          <li>
            <a
              fxFlex
              fxLayoutAlign="space-between center"
              (click)="openTreePanel()"
              >Add Tree <span class="shortcut">a t</span></a
            >
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div fxFlex fxLayout="row" fxLayoutAlign="start center">
    {{ treeName$ | async }}
  </div>
  <div fxLayout="row" fxFlexAlign="end center">
    <div
      class="treeTitle"
      fxFlex="nogrow"
      fxLayout="row"
      fxLayoutAlign="start center"
    >
      {{ projectName$ | async }}
    </div>
  </div>
</div>
