<div class="menubar" fxFlex fxLayout="row" fxLayoutAlign="start">
  <ul fxLayout="row" fxLayoutAlign="start">
    <li fxLayout="row" fxLayoutAlign="center stretch">
      <a class="fastlink" fxLayout="column" fxlLayoutAlign="center center">
        <i class="fa-solid fa-gear"></i>
      </a>
    </li>
  </ul>

  <ul fxLayout="row" fxLayoutAlign="start">
    <li>
      <a fxFill fxLayoutAlign="center center">Tree</a>
      <ul>
        <li><a>Save</a></li>
        <li><a>Export</a></li>
        <li><a>Import</a></li>
      </ul>
    </li>
  </ul>
</div>
