<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Project deletion</h4>
  <button
    type="button"
    class="btn-close"
    aria-describedby="modal-title"
    (click)="modal.dismiss()"
  ></button>
</div>
<div class="modal-body">
  <p>
    <strong
      >Are you sure you want to delete
      <span class="text-primary">{{ name }}</span> project?</strong
    >
  </p>
  <p>
    The Project an all associated behaviour trees will be deleted.
    <span class="text-danger">This operation can not be undone.</span>
  </p>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-secondary"
    (click)="modal.dismiss()"
  >
    Cancel
  </button>
  <button
    type="button"
    class="btn btn-danger"
    (click)="modal.close({ delete: true })"
  >
    Ok
  </button>
</div>
