<div class="parameters-container">
  <h5 class="subtitle">
    <div class="subtitle-content">
      <div>Parameters</div>
      <i
        class="parameter-add-button icon fa-solid fa-plus"
        (click)="addParameter()"
      ></i>
    </div>
  </h5>
  <ul class="parameter-list">
    <li *ngFor="let parameter of parameterCount$ | async; index as index">
      <div class="parameter-list-item">
        <div class="parameter-list-item-header">
          <label for="param" class="editor-label"
            >Parameter {{ index + 1 }}</label
          >
          <i
            class="fa-solid fa-trash icon"
            (click)="removeParameter(index)"
          ></i>
        </div>

        <input
          class="editor-input"
          (keyup)="parameterEdited($event, index)"
          [value]="getParameterValue(index)"
        />
      </div>
    </li>
  </ul>
</div>
