.divider {
    border: thin solid black;
    margin-bottom: 20px;
}

.projectItem {
    margin-bottom: 5px;
}

.projectname {
    width: 400px;
}

.btn-download {
    margin-left: 50px;
}

.download-link {
    display: none;
}