<div
  class="LeftPanel"
  fxFlex="300px"
  fxLayout="column"
  fxLayoutAlign="start center"
  fxLayoutGap="10"
>
  <ngb-accordion
    #accordion
    #acc="ngbAccordion"
    [closeOthers]="true"
    activeIds="ac-trees"
    fxFlexFill
  >
    <ngb-panel id="acc-trees" title="Trees">
      <ng-template ngbPanelContent>
        <div
          class="accPanel"
          fxLayout="column"
          fxLayoutAlign="start stretch"
          fxLayoutGap="10px"
        >
          <input class="editor-input" placeholder="search trees" />

          <ul class="node-list list-group styled-scrollbars">
            <li
              class="node-list-item list-group-item"
              [draggable]="!(isRootTree$(tree.identifier) | async)"
              (dragstart)="dragStartTree($event, tree)"
              *ngFor="let tree of trees$ | async"
            >
              <div fxFlexLayout="row" fxLayoutAlign="space-between center">
                <div
                  fxFlex
                  [ngClass]="treeItemClass$(tree.identifier) | async"
                  (click)="setActive(tree.identifier)"
                >
                  {{ tree.displayName }}
                </div>
                <div
                  class="tree-item-actions"
                  fxFlexLayout="row"
                  fxLayoutAlign="end center"
                  fxLayoutGap="5px"
                  *ngIf="!(isRootTree$(tree.identifier) | async)"
                >
                  <i
                    (click)="deleteTree(tree)"
                    class="fa-solid fa-trash tree-item-delete"
                  ></i>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </ng-template>
    </ngb-panel>
    <ngb-panel id="acc-actions" title="Actions">
      <ng-template ngbPanelContent>
        <div
          class="accPanel"
          fxLayout="column"
          fxLayoutAlign="start stretch"
          fxLayoutGap="10px"
        >
          <input class="editor-input" placeholder="search actions" />

          <ul class="node-list list-group styled-scrollbars">
            <li
              class="node-list-item list-group-item list-group-item-action"
              draggable="true"
              (dragstart)="dragStartAction($event, action)"
              *ngFor="let action of actions"
            >
              {{ action }}
            </li>
          </ul>
        </div>
      </ng-template>
    </ngb-panel>
    <ngb-panel id="acc-conditions" title="Conditions">
      <ng-template ngbPanelContent>
        <div
          class="accPanel"
          fxLayout="column"
          fxLayoutAlign="start stretch"
          fxLayoutGap="10px"
        >
          <input class="editor-input" placeholder="search conditions" />

          <ul class="node-list list-group styled-scrollbars">
            <li
              class="node-list-item list-group-item list-group-item-action"
              draggable="true"
              (dragstart)="dragStartCondition($event, condition)"
              *ngFor="let condition of conditions"
            >
              {{ condition }}
            </li>
          </ul>
        </div>
      </ng-template>
    </ngb-panel>
    <ngb-panel id="acc-decorators" title="Decorators">
      <ng-template ngbPanelContent>
        <div
          class="accPanel"
          fxLayout="column"
          fxLayoutAlign="start stretch"
          fxLayoutGap="10px"
        >
          <input class="editor-input" placeholder="search decorators" />

          <ul class="node-list list-group styled-scrollbars">
            <li
              class="node-list-item list-group-item list-group-item-action"
              draggable="true"
              (dragstart)="dragStartDecorator($event, decorator)"
              *ngFor="let decorator of decorators"
            >
              {{ decorator }}
            </li>
          </ul>
        </div>
      </ng-template>
    </ngb-panel>
    <ngb-panel id="acc-composites" title="Composites">
      <ng-template ngbPanelContent>
        <div
          class="accPanel"
          fxLayout="column"
          fxLayoutAlign="start stretch"
          fxLayoutGap="10px"
        >
          <input class="editor-input" placeholder="search composites" />

          <ul class="node-list list-group styled-scrollbars">
            <li
              class="node-list-item list-group-item list-group-item-action"
              draggable="true"
              (dragstart)="dragStartComposite($event, composite)"
              *ngFor="let composite of composites"
            >
              {{ composite }}
            </li>
          </ul>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
